<!DOCTYPE html>
<html>
    <head>
        <title>Voided X &bull; Home</title>
        <link rel="icon" href="https://imgur.com/Yy0WT94.png" />
        <link rel="stylesheet" href="css/index.css" /> <!-- ModestaCSS Helpers -->
        <link rel="stylesheet" href="https://modesta.alexflipnote.xyz/css/modesta.min.css" /> <!-- ModestaCSS -->
    </head>
    <body>
        <section class="fullscreen">
            <div class="center-object">
                <section class="me">
                    <img draggable="false" src="https://imgur.com/Yy0WT94.png" class="image-title" />
                    <h1 class="title">void</h1>
                    <span class="undertitle">Developer</span>
                </section>
                <div class="buttons">
                    <a href="https://github.com/missingbinaries" class="btn hover nephritis" target="_blank">GitHub</a>
                    <a href="https://discord.gg/9Qu7aXe" class="btn hover amethyst" target="_blank">Voided X Discord Server</a>
                    <a href="https://discord.gg/VBjRs65" class="btn hover emerald" target="_blank">Main Discord Server</a>
                </div>
            </div>
        </section>
    </body>
</html>